html {
  background-color: #f0f0f0;
  font: 16px Arial;
}

body {
  margin: 0;
}

input, textarea {
  font-size: 14px;
  padding: 10px;
}

.app-header {
  background-color: #5493d4;
  color: #F0F0F0;
  font-family: 'Norican', cursive;
  font-size: 25px;
  font-style: normal;
  font-weight: 900;
  margin: 0;
  padding: 20px 20px 2px 14px;
  margin-bottom: 10px;
  vertical-align: middle;
}

.app{
  width: 460px;
  margin: 0 auto;
  border: 1px solid #b3b3b3;
}

.app-header .title{
  padding-left: 5px;
}