<!DOCTYPE html>
<html>
  <head>
    <title>Whinepad v.0.0.1</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/bundle.css">
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io.connect('http://localhost:8080');
      console.log('socket');
    </script>
  </head>
  <body>
      {{{body}}}    
    <script src="/js/bundle.js"></script>
  </body>
</html>