<!DOCTYPE html>
<html>
  <head>
    <title>FriendMessenger v.0.0.1</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/bundle.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <script src="/socket.io/socket.io.js"></script>
    <script>
      let domain = (location.hostname === 'localhost') ? 'http://localhost:8080' : location.hostname;
      var socket = io.connect(domain);
      console.log('socket: ', socket);
    </script>
  </head>
  <body>
      {{{body}}}    
    <script src="/js/bundle.js"></script>
  </body>
</html>