.Avatar{
    display: inline-block;
    padding-left: 4px;
    padding-right: 4px;
    cursor: pointer;
    position: relative;
}

.active{
    border-bottom: 5px solid #3f70a2;
}

.Avatar img.large{
    width: 200px;
    height: 200px;
}

.Avatar img.medium{
    width: 100px;
    height: 100px;
}

.Avatar img.small{
    width: 65px;
    height: 65px;
}

.Avatar img.round{
    border-radius: 50%;
}

.Avatar img.square{    
    border-radius: 10px;
}

.Avatar.online img{
    border: 3px solid #8ac176;
}

.Avatar.offline img{
    border: 3px solid palevioletred;
}

.Avatar span.num-new-messages{
    font-size: 13px;
    font-weight: bold;
    display: block;
    position: absolute;
    bottom: 1px;
    right: 0px;
    border-radius: 5px;
    color: white;
    padding: 1px 4px;
    
}

.Avatar.online span.num-new-messages{
    background-color: #8ac176;
}

.Avatar.offline span.num-new-messages{
    background-color: palevioletred;
}